.flex-container {
    display: flex;

    /* Flex Direction */

    /* flex-direction: row; */

    
    /* flex-direction: column; */

    /* This reverses the elements. so it brings last to first, and first to last in a row */
    /* flex-direction: row-reverse; */

        /* This reverses the elements. so it brings last to first, and first to last in a column */
    /* flex-direction: column-reverse; */

    flex-wrap: wrap;

    /* This takes individual elements to the top of the main-axis */
    /* align-items: flex-start; */

    /* This takes individual elements and brings them to the center of the main axis */
    /* align-items: center; */


    /* This takes individual elements to the bottom of the main-axis */
    /* align-items: flex-end; */


    /* So this was the default value of align items */
    /* align-items: stretch; */


    /* justify-content: flex-start; */

    /* justify-content: center; */
}


article {
    border: 1px solid black;

    flex-basis: 33%;

    /* width: 33%; */

    display: flex;
    flex-direction: column;
    /* justify-content: center;      */
}



.flex-container-1 {
    display: flex;
    
}