.App {
  text-align: center;
  background-color: rgb(238, 234, 234);
  padding: 20px;
}

.uncontrolledContainer {
  background-color: antiquewhite;
}

.controlledContainer {
  background-color: aquamarine;
}