
body {
    background-color: #036060;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    display: grid;
    grid-template-columns: 70% 30%;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.form-control input {
    padding: 20px;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin: 20px;
}

#list li {
    background-color: #ffd166;
    color: white;
    width: 100%;

    /* We want to remove this since it is going to keep the height fixed */
    /* height: 100px; */ 

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.form-control button {
    background: #08c6c6;
    border: none;
}


.list-container {
    height: calc(100vh - 100px);
    overflow: auto;
}

.radio-control {
    background: azure;
    position: fixed;
    bottom: 70px;
    display: flex;
    width: 100%;
    padding: 20px;
}

.radio-control label {
    padding-left: 20px;
}

input[type="radio"] {
    padding: 10px;
}

.date-container {
    position: fixed;
    bottom: 140px;
    width: 100%;
}

.date-container input {
    width: 100%;
    padding: 20px;
}

input {
    border: none;
}

#priority {
    padding: 4px;
    width: 50px;
    text-align: center;
    border-radius: 8px;
}