body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--primary);
}

:root {
    --primary: #15bcf3;
    --secondary: #0c8fbb;
}

.container {
    height: 100vh;
}

h1 {
    margin: 0;
}

section:nth-child(1) {
    /* display: grid; */
    height: 60vh;

    text-align: center;
}

section:nth-child(1) span {
    font-size: 96px;
    font-weight: bold;
}

section:nth-child(1) p {
    margin-top: 0;
}

section:nth-child(2) {
    display: grid;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
    height: 150px;
}

section:nth-child(2) p {
    text-align: center;
    font-size: 16px;
    background-color: black;
    border-radius: 20px;
}

i {
    font-size: 250px;
    width: 100%;
    text-align: center;
    color: white;
}

.secondSectionTitle {
   color:  var(--primary);
   font-weight: bold;
}


.search-container {
    background-color: var(--secondary);
    padding: 20px;
}

.search-container input {
    padding: 20px;
    width: 50%;
    border: none;
}

.search-container button {
    width: 30%;
    padding: 20px;
    background-color: black;
    color: var(--primary);
    border: none;
}