body {
    background-color: black;
    color: white;
}

.flex-container {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

img {
    width: 80%;
    margin: auto;
}

.banner-container {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: white;

}

.row:before {
    display: none;
}


section .container {
    padding: 40px;
}

.banner {
    background-color: #201f1f;
}


#trendingMovies li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section {
    background-color: #201f1f;
}

section h1 {
    padding: 20px;
}

#search-container {
    display: grid;
    grid-template-columns: 70% 20%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#search-container input, #search-container button {
    width: 100%;
    height: 40px;
    border: none;
    margin-bottom: 20px;
}

#search-container input {
    background-color: #151515;
}

#search-container button {
    background-color: #008af3;

}

.display-none {
    display: none;
}

.display-block {
    display: block;
}


.trailer-button {
    background-color: #008af3;
    width: 200px;
    height: 50px;
    border: none;
}