.items-container {
    @include gridContainer(50% 50%, flex-start, flex-start);
}

header {
    nav {
        ul {
            @include flexContainer;
            justify-content: center;
            margin: 20px;
        }
    }
}
