
body {
    /* First font priority is given to poppins and the least priority is given to sans serif */
    font-family: 'Poppins', sans-serif;
}

label {

    /* Font properties */
    font-style :italic;
    font-weight: bolder;

    /* Absolute Units - These fonts are hardcoded */
    font-size: 16px; 


    /* Relative Units - These fonts are related to either there parent, or itself */


    /* First Way */
    /* color: green; */

    /* SECOND WAY (RGB) */

    /* RGB (Red, Green, Blue)  */
    /* Each individual value, can be minimum = 0, and maximum = 255 */

    /* Maximum red */
    /* color: rgb(255, 0, 0) */

    /* color: rgb(255, 255, 255); */

    /* color: rgb(0, 0 , 0); */

    /* color: rgb(100, 100, 255); */

    /* THIRD WAY (HEXA DECIMAL) */


    /* color: #f10101; */

    /* 0 1 2 3 4 5 6 7 8 9 a b c d e f */

    width: 30%;

}


img {
    /* This is absolute or hardcoded */
    /* width: 400px; */
    /* height: 100px; */

    /* THis is relative */

    /* width: 40vw;
    height: 40%; */

    height: 100px;
    width: 100px;
}

form {

    /* 50% of the screen size */
    width: 50vw;

    /* automatically gives margin equally among all of the sides */
    margin: auto;

    /* padding - Spaces within the element border */
    padding: 50px;

    /* margin - Spaces outside the element  */

    /* margin: 50px; */

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: 20px;

}

#logo {
    border: 2px solid white;
    border-radius: 50%;
}

#main-form {
    /* text-align: center; */
}

#submit-button, #reset-button, #users-button {
    padding: 6px;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#submit-button {
    background-color: black;

    /* padding: 20px; */

    /* 1 Way */
    /* padding-top: 20px;
    padding-bottom: 20px; */

    /* 2 Way */

    /* padding: 20px; */
             /* top  right bottom left */
    /* padding: 20px 0px 20px 0px; */

    /* 3 Way */
    /* padding: 10px 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}

#reset-button {
    background-color: red;
    /* padding: 10px 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

#users-button {
    background-color: green;
    /* padding: 10px 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.p-8 {
    padding: 8px;
}


.w-70 {
    width: 70%;
}

.text-center {
    text-align: center;
}